
<div class="col">
  <div class="shadow card" style="width: 18rem;">
    <div class="card-heading bg-info">
      <h2 class="card-title bg-info text-white mt-3 ml-3">{{Name}}</h2>
      <h3 class="position bg-info ml-5 text-white">Engineer</h3>
    </div>
    <div class="card-body mt-2 mb-4">
      <ul class="list-group border list-group-flush">
        <li class="id list-group-item">ID: {{ID}}</li>
        <li class="email list-group-item">Email: {{Email}} </li>
        <li class="education list-group-item">GitHub: {{github}}</li>
      </ul>
    </div>
  </div>
</div>