
<div class="shadow card" style="width: 18rem;">
  <div class="card-heading bg-info">
  <h2 class="card-title bg-info text-white mt-3 ml-3">asdf</h2>
  <h3 class="position bg-info ml-5 text-white">Engineer</h3>
  </div>
<div class="card-body mt-2 mb-4">
  <ul class="list-group border list-group-flush">
    <li class="id list-group-item">ID: asdf</li>
    <li class="email list-group-item">Email: asdf </li>
    <li class="education list-group-item">GitHub: asdf</li>
  </ul>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-heading bg-info">
  <h2 class="card-title bg-info text-white mt-3 ml-3">a;lsdkf</h2>
  <h3 class="position bg-info ml-5 text-white">Manager</h3>
  </div>
<div class="card-body mt-3 mb-4">
  <ul class="list-group border list-group-flush">
    <li class="id list-group-item">ID: asdf</li>
    <li class="email list-group-item">Email: asdf</li>
    <li class="office list-group-item">Office: asdf</li>
  </ul>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-heading bg-info">
  <h2 class="card-title bg-info text-white mt-3 ml-3">aladkf</h2>
  <h3 class="position bg-info ml-5 text-white">Manager</h3>
  </div>
<div class="card-body mt-3 mb-4">
  <ul class="list-group border list-group-flush">
    <li class="id list-group-item">ID: adfadf</li>
    <li class="email list-group-item">Email: adfa</li>
    <li class="office list-group-item">Office: asdf</li>
  </ul>
</div>

<div class="shadow card" style="width: 18rem;">
  <div class="card-heading bg-info">
  <h2 class="card-title bg-info text-white mt-3 ml-3">adf</h2>
  <h3 class="position bg-info ml-5 text-white">Engineer</h3>
  </div>
<div class="card-body mt-2 mb-4">
  <ul class="list-group border list-group-flush">
    <li class="id list-group-item">ID: aasdf</li>
    <li class="email list-group-item">Email: adsf </li>
    <li class="education list-group-item">GitHub: adfs</li>
  </ul>
</div>
