
<div class="card" style="width: 18rem;">
  <div class="card-heading bg-info">
  <h2 class="card-title bg-info text-white mt-3 ml-3">al</h2>
  <h3 class="position bg-info ml-5 text-white">Manager</h3>
  </div>
<div class="card-body mt-3 mb-4">
  <ul class="list-group border list-group-flush">
    <li class="id list-group-item">ID: adf</li>
    <li class="email list-group-item">Email: a</li>
    <li class="office list-group-item">Office: sas</li>
  </ul>
</div>

<div class="shadow card" style="width: 18rem;">
  <div class="card-heading bg-info">
  <h2 class="card-title bg-info text-white mt-3 ml-3">asd</h2>
  <h3 class="position bg-info ml-5 text-white">Engineer</h3>
  </div>
<div class="card-body mt-2 mb-4">
  <ul class="list-group border list-group-flush">
    <li class="id list-group-item">ID: a</li>
    <li class="email list-group-item">Email: as </li>
    <li class="education list-group-item">GitHub: a</li>
  </ul>
</div>
