
<div class="col">
  <div class="card" style="width: 18rem;">
    <div class="card-heading bg-info">
      <h2 class="card-title bg-info text-white mt-3 ml-3">{{Name}}</h2>
      <h3 class="position bg-info ml-5 text-white">Manager</h3>
    </div>
    <div class="card-body mt-3 mb-4">
      <ul class="list-group border list-group-flush">
        <li class="id list-group-item">ID: {{ID}}</li>
        <li class="email list-group-item">Email: {{Email}}</li>
        <li class="office list-group-item">Office: {{officeNumber}}</li>
      </ul>
    </div>
  </div>
</div>